.issue-status {
  width: 20%;
  text-align: center;
}
.issue-description {
  width: 80%;
}
li {
  display: flex;
  background-color: lavenderblush;
  padding: 20px;
}
li:nth-child(odd) {
  background-color: antiquewhite;
}

.issue-list,
.issue-header {
  padding-left: 40px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
